<% @title = 'Ruby Gems' %>

<div id="header">
  <h1>Ruby Gems</h1>
  <p>dbpedialite.org is powered by <a href="/things/19127434">Heroku</a> and the following ruby gems:</p>
</div>

<div id="content">
  <table>
   <tr>
    <th>Name</th>
    <th>Version</th>
    <th>Summary</th>
  </tr>
  <% @specs.each do |spec| %>
    <tr>
      <td><%= link_to(spec.name, spec.homepage) %></td>
      <td><%= link_to(spec.version, "http://rubygems.org/gems/#{spec.name}/versions/#{spec.version}") %></td>
      <td><%= spec.summary %></td>
    </tr>
   <% end %>
  </table>
</div>
