<% content_for :head do %>
  <link type="text/css" href="/css/smoothness/jquery-ui-1.8.2.custom.css" rel="stylesheet" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js" type="text/javascript"></script>
  <script src="/js/autocomplete.js" type="text/javascript"></script>
<% end %>

<div id="header">
  <h1>dbpedia lite</h1>
</div>

<div id="content">
  <%= @readme.to_html %>

  <h2>Search</h2>
  <form action="/search" method="get"><div>
    <input id="search" name="term" type="text" size="15" />
    <input type="submit" value="Search" />
  </div></form>

  <h2>Bookmarklet</h2>
  <p>
    Drag this <a href="javascript:location.href='<%= url_for('/flipr', :full) %>?url='+encodeURIComponent(location.href)">dbpedialite flipr</a>
    link to your bookmarks bar in your browser. Now, when you're on Wikipedia page click on the bookmarklet to switch to the coresponding dbpedia lite page.
    When you're on a dbpedia lite page, click on the bookmarklet to take you back to the respective Wikipedia page.
  </p>

  <h2>Example Things</h2>
  <ul>
    <li><a href="/titles/U2">U2</a></li>
    <li><a href="/titles/U2_(band)">U2 (band)</a></li>
    <li><a href="/titles/Florence_%2B_the_Machine">Florence + the Machine</a></li>
    <li><a href="/titles/Stoat">Stoat</a></li>
    <li><a href="/titles/Ermine">Ermine</a></li>
    <li><a href="/titles/Ceres,_Fife">Ceres, Fife</a></li>
    <li><a href="/titles/Berlin">Berlin</a></li>
  </ul>

  <h2>Example Categories</h2>
  <ul>
    <li><a href="/titles/Category:Towns_in_Fife">Towns in Fife</a></li>
    <li><a href="/titles/Category:James_Bond_films">James Bond films</a></li>
  </ul>
  
  <h2>Data Dumps</h2>
  <p>
    Although there is currently no data dump of the whole of dbpedia lite available, there
    is an <a href="http://www.w3.org/TR/owl-ref/#sameAs-def">owl:sameAs</a> mapping to dbpedia URIs
    available at <a href="http://downloads.dbpedialite.org">downloads.dbpedialite.org</a>.
    This dump was created from an <a href="http://meta.wikimedia.org/wiki/Data_dumps">Wikipedia XML article stubs</a>
    export. The mapping has been loaded into <a href="http://sameas.org/">sameas.org</a>.
    See <a href="http://sameas.org/html?uri=http%3A%2F%2Fdbpedialite.org%2Fthings%2F30034%23id">Tim Berners-Lee</a>
    as an example.
  </p>
</div>
