<h1>dbpedia lite</h1>

<h2>Examples</h2>
<ul>
<li><a href="/title/U2">U2</a></li>
<li><a href="/title/U2_(band)">U2 (band)</a></li>
<li><a href="/title/Florence_%2B_the_Machine">Florence + the Machine</a></li>
<li><a href="/title/Stoat">Stoat</a></li>
<li><a href="/title/Ermine">Ermine</a></li>
<li><a href="/title/Ceres,_Fife">Ceres, Fife</a></li>
</ul>
