<div id="header">
  <h1>dbpedia lite</h1>
</div>

<div id="content">
  <h2>Search<h2>
  <form action="/search" method="get">
    <input name="q" type="text" size="15" />
    <input type="submit" value="Search" />
  </form>

  <h2>Examples</h2>
  <ul>
    <li><a href="/titles/U2">U2</a></li>
    <li><a href="/titles/U2_(band)">U2 (band)</a></li>
    <li><a href="/titles/Florence_%2B_the_Machine">Florence + the Machine</a></li>
    <li><a href="/titles/Stoat">Stoat</a></li>
    <li><a href="/titles/Ermine">Ermine</a></li>
    <li><a href="/titles/Ceres,_Fife">Ceres, Fife</a></li>
  </ul>
</div>
