<h1>dbpedia lite</h1>

<ul>
<li><a href="/resource/U2">U2</a></li>
<li><a href="/resource/U2_(band)">U2 (band)</a></li>
<li><a href="/resource/Stoat">Stoat</a></li>
<li><a href="/resource/Ermine">Ermine</a></li>
</ul>