<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
        "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"<%= format_xmlns(@vocabularies) %>>
<head>
  <title>dbpedia lite<%= " - #{h(@article.title)}" unless @article.nil? %></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
  <link type="text/css" href="css/smoothness/jquery-ui-1.8.2.custom.css" rel="stylesheet" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js" type="text/javascript"></script>
  <% yield_content :head %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-15759799-2']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <script src="js/application.js" type="text/javascript"></script>
</head>
<body>

<%= yield %>

<div id="footer">
  <div class="valid-badge" about=""
     resource="http://www.w3.org/TR/rdfa-syntax"
     rel="dc:conformsTo" xmlns:dc="http://purl.org/dc/terms/">
    <a href="http://validator.w3.org/check?uri=referer"><img
        src="/images/valid-xhtml-rdfa.png"
        alt="Valid XHTML + RDFa" height="31" width="88" /></a>
  </div>
  <div class="links">
    Powered by:
    <a href="http://heroku.com/">heroku</a>,
    <a href="http://www.sinatrarb.com/">Sinatra</a>,
    <a href="http://github.com/bhuga/spira">Spira</a>,
    <a href="http://rdf.rubyforge.org/">RDF.rb</a>,
    <a href="http://nokogiri.org/">nokogiri</a>
  </div>
  <div class="links">
    Source code: <%= link_to('http://github.com/njh/dbpedialite') %>
  </div>
</div>

</body>
</html>
